<h3>{{btnTitulo}}</h3>

<form [formGroup]="despesaForm" (ngSubmit)="submit()" #forDit="ngForm">
  <input type="hidden" formControlName="id">

  <div class="input_box">
    <label for="">Nome</label>
    <input type="text" formControlName="nome" placeholder="Insira o nome da Despesa!" required>
  </div>

  <div class="input_box">
    <label for="">Descrição</label>
    <input type="text" formControlName="descricao" placeholder="Descrição da Despesa">
  </div>

  <div class="input_box">
    <label for="">Valor</label>
    <input type="text" formControlName="valor" placeholder="Valor" required>
  </div>

  <div class="input_box">
    <label for="">Vencimento</label>
    <input type="text" formControlName="vencimento" placeholder="">
  </div>

  <div class="input_box">
    <label for="">Recorrente</label>
    <input type="checkbox" formControlName="repetirMensal" placeholder="Recorrente">
  </div>

  <div class="input_box">
    <label for="">Paga</label>
    <input type="checkbox" formControlName="paga" placeholder="">
  </div>

  <div class="input_box">
    <label for="">UsuarioID</label>
    <input type="text" formControlName="usuarioId" placeholder="">
  </div>

  <div class="input_box">
    <label for="">TipoCategoriaId</label>
    <select formControlName="tipoCategoriaId" id="tipoCategoriaId" required>
      <option value="1">Categoria 1</option>
      <option value="2">Categoria 2</option>
      <option value="3">Categoria 3</option>
    </select>
  </div>

  <div class="input_box">
    <label for="">TipoPagamentoId</label>
    <select formControlName="tipoPagamentoId" id="tipoPagamentoId" required>
      <option value="1">Pagamento 1</option>
      <option value="2">Pagamento 2</option>
      <option value="3">Pagamento 3</option>
    </select>
  </div>

  <div class="input_box">
    <label for="">DataCadastro</label>
    <input type="text" formControlName="dataCadastro">
  </div>
  <div class="input_box">
    <label for="">DataAlteracao</label>
    <input type="text" formControlName="dataAlteracao">
  </div>


  <div class="btn-box">
    <button type="submit" [disabled]="!despesaForm.valid">{{btnAcao}}</button>
    <button routerLink="">Voltar</button>
  </div>

</form>