<h3>{{btnTitulo}}</h3>

<div *ngIf="despesa">
  <form class="form-container">
    <mat-form-field class="input-box">
      <mat-label>ID</mat-label>
      <input matInput type="text" value="{{despesa.id}}" disabled>
    </mat-form-field>
    <br>

    <mat-form-field class="input-box">
      <mat-label>Nome</mat-label>
      <input matInput type="text" value="{{despesa.nome}}" disabled>
    </mat-form-field>

    <mat-form-field class="input-box">
      <mat-label>Descrição</mat-label>
      <input matInput type="text" value="{{despesa.descricao}}" disabled>
    </mat-form-field>

    <br>

    <mat-form-field class="input-box">
      <mat-label>Valor</mat-label>
      <input matInput type="text" value="{{despesa.valor}}" disabled>
    </mat-form-field>

    <mat-form-field class="input-box">
      <mat-label>Vencimento</mat-label>
      <input matInput type="text" value="{{despesa.vencimento}}" disabled>
    </mat-form-field>

    <br>
    <mat-checkbox [checked]="despesa.repetirMensal" disabled>Recorrente</mat-checkbox>

    <mat-checkbox [checked]="despesa.paga" disabled>Paga</mat-checkbox>

    <div>
      <br>
    </div>

    <mat-form-field class="input-box">
      <mat-label>UsuarioID</mat-label>
      <input matInput type="text" value="{{despesa.usuarioId}}" disabled>
    </mat-form-field>

    <mat-form-field class="input-box">
      <mat-label>TipoCategoriaId</mat-label>
      <input matInput type="text" value="{{despesa.tipoCategoriaId}}" disabled>
    </mat-form-field>

    <mat-form-field class="input-box">
      <mat-label>TipoPagamentoId</mat-label>
      <input matInput type="text" value="{{despesa.tipoPagamentoId}}" disabled>
    </mat-form-field>


    <mat-form-field class="input-box">
      <mat-label>DataCadastro</mat-label>
      <input matInput type="text" value="{{despesa.dataCadastro}}" disabled>
    </mat-form-field>

    <mat-form-field class="input-box">
      <mat-label>DataAlteracao</mat-label>
      <input matInput type="text" value="{{despesa.dataAlteracao}}" disabled>
    </mat-form-field>

    <div class="btn-box">
      <button mat-button routerLink="">Voltar</button>
    </div>
  </form>
</div>