<h3>{{btnTitulo}}</h3>


<div *ngIf="despesa">
  <form>
    <div class="input_box">
      <label for="">Nome</label>
      <input type="text" value="{{despesa.nome}}" disabled>
    </div>

    <div class="input_box">
      <label for="">Descrição</label>
      <input type="text" value="{{despesa.descricao}}" disabled>
    </div>

    <div class="input_box">
      <label for="">Valor</label>
      <input type="text" value="{{despesa.valor}}" disabled>
    </div>

    <div class="input_box">
      <label for="">Vencimento</label>
      <input type="text" value="{{despesa.vencimento}}" disabled>
    </div>

    <div class="input_box">
      <label for="">Recorrente</label>
      <input type="checkbox" [checked]="despesa.repetirMensal" disabled>
    </div>

    <div class="input_box">
      <label for="">Paga</label>
      <input type="checkbox" [checked]="despesa.paga" disabled>
    </div>

    <div class="input_box">
      <label for="">UsuarioID</label>
      <input type="text" value="{{despesa.usuarioId}}" disabled>
    </div>

    <div class="input_box">
      <label for="">TipoCategoriaId</label>
      <select value="{{despesa.tipoCategoriaId}}" id="tipoCategoriaId" disabled>
        <option value="1">Categoria 1</option>
        <option value="2">Categoria 2</option>
        <option value="3">Categoria 3</option>
      </select>
    </div>

    <div class="input_box">
      <label for="">TipoPagamentoId</label>
      <select value="{{despesa.tipoPagamentoId}}" id="tipoPagamentoId" disabled>
        <option value="1">Pagamento 1</option>
        <option value="2">Pagamento 2</option>
        <option value="3">Pagamento 3</option>
      </select>
    </div>

    <div class="input_box">
      <label for="">DataCadastro</label>
      <input type="text" value="{{despesa.dataCadastro}}" disabled>
    </div>
    <div class="input_box">
      <label for="">DataAlteracao</label>
      <input type="text" value="{{despesa.dataAlteracao}}" disabled>
    </div>

    <div class="btn-box">
      <button type="submit" [disabled]="">Inativar</button>
      <button routerLink="">Voltar</button>
    </div>

  </form>
</div>