.container {
  margin: 20px;
}

.despesa-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-box {
  width: 300px;
}



table {
  width: 90%;
  border-collapse: collapse;
  align-content: center;
  margin-left: 5%;
  margin-right: 5%;

}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

button:hover {
  background-color: #313335;
}

button:active {
  background-color: #313335;
}


.search-box input
{
  width: 25%;
  padding: 5px;
  margin-bottom: 5px;
}


.btnExcluir
{
  background-color: #a11111;
}

.btnDetalhes{
  background-color: #0e5852;
}

