<div class="despesa-box">
  <button routerLink="cadastroDespesa"> Cadastrar Nova Despesa</button>
  <div class="input-box">
    <label for="">Procurar</label>
    <input type="text" placeholder="Despesa a procurar" (input)="search($event)">
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Despesa</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Vencimento</th>
      <th>Recorrente</th>
      <th>Paga?</th>
      <th>Categoria</th>
      <th>Pagamento</th>
      <th>DataCadastro</th>
    </tr>
  </thead>
  <tbody *ngFor="let despesa of despesas">
    <tr>

      <td>{{despesa.nome}}</td>
      <td>{{despesa.descricao}}</td>
      <td>{{(despesa.valor | currency)}}</td>
      <td>{{despesa.vencimento}}</td>
      <td>
        <div *ngIf="despesa.repetirMensal==true;else naoRecorrente">
          <img src="../../../assets/images/reuso.png" alt="" style="height: 20px;width: 20px;">
        </div>
        <ng-template #naoRecorrente>
          <img src="../../../assets/images/NaoRecorrente.png" alt="" style="height: 20px;width: 20px;">
        </ng-template>
      </td>

      <td>
        <div *ngIf="despesa.paga==true">
          <img src="../../../assets/images/Verificado.png" alt="" style="height: 20px;width: 20px;">
        </div>
        <div *ngIf="despesa.paga==false">
          <img src="../../../assets/images/Cancelado.png" alt="" style="height: 20px;width: 20px;">
        </div>
      </td>
      <td>{{despesa.tipoCategoriaId}}</td>
      <td>{{despesa.tipoPagamentoId}}</td>
      <td>{{despesa.dataCadastro}}</td>
      <td>
        <button routerLink="/editarDespesa/{{despesa.id}}" class="btnEditar">EDITAR</button>
        <button>DETALHES</button>
      </td>
      <td>
        <button>EXCLUIR</button>
      </td>

    </tr>
  </tbody>

</table>